---
import "../../styles/global.css";
import FoodCard from "../../components/FoodCard.astro";
import { supabase } from "../../lib/supabase";

const { data: foodfest, error } = await supabase
  .from("foodfest")
  .select("title, tag, image, type")
  .order("created_at", { ascending: true });

if (error) {
  throw new Error(error.message);
}

const Snack_Savories = foodfest.filter(item => item.type === "Snack $ Savories");
const Cold_Beverages = foodfest.filter(item => item.type === "Cold Beverages");
const Hot_Beverages= foodfest.filter(item => item.type === "Hot Beverages");
const Desserts = foodfest.filter(item => item.type === "Desserts");
const Main_Course = foodfest.filter(item => item.type === "Main Course");
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Food Fest</title>

    <link
      href="https://fonts.googleapis.com/css2?family=Orbitron:wght@500;700;900&display=swap"
      rel="stylesheet"
    />

    <style>
      body {
        font-family: "Orbitron", sans-serif;
        background-color: #24050e;
        background-image: url("/foodshow_tex.png");
      }

      .section-heading {
        text-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
      }
    </style>
  </head>

  <body>
    <div class="min-h-screen px-6 py-12 md:p-16 lg:p-24 max-w-7xl mx-auto">

      
 <!-- HOT BEVERAGES -->
      <section class="mb-20">
        <h1 class="section-heading text-white text-3xl md:text-5xl font-black uppercase tracking-[0.2em] mb-4">
         Hot & Beverages
        </h1>

        <div class="w-24 h-[3px] bg-pink-500 mb-12"></div>

        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-10">
          {Hot_Beverages.map(event => (
            <FoodCard
              title={event.title}
              tag={event.tag}
              image={event.image}
            />
          ))}
        </div>
      </section>


      <!-- COLD BEVERAGES-->
      <section>
        <h1 class="section-heading text-white text-3xl md:text-5xl font-black uppercase tracking-[0.2em] mb-4">
          Cold Beverages
        </h1>

        <div class="w-24 h-[3px] bg-cyan-400 mb-12"></div>

        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-10">
            {Cold_Beverages.map(comp => (
            <FoodCard
              title={comp.title}
              tag={comp.tag}
              image={comp.image}
            />
            ))} 
        </div>
      </section>

      

      <!-- DESSERTS-->
      <section>
        <h1 class="section-heading text-white text-3xl md:text-5xl font-black uppercase tracking-[0.2em] mb-4">
          Desserts
        </h1>

        <div class="w-24 h-[3px] bg-pink-500 mb-12"></div>

        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-10">
            {Desserts.map(comp => (
            <FoodCard
              title={comp.title}
              tag={comp.tag}
              image={comp.image}
            />
            ))} 
        </div>
      </section>

      <!-- SNACK & SAVORIES -->
      <section class="mb-20">
        <h1 class="section-heading text-white text-3xl md:text-5xl font-black uppercase tracking-[0.2em] mb-4">
          Snack & Savories
        </h1>

        <div class="w-24 h-[3px] bg-cyan-400 mb-12"></div>

        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-10">
          {Snack_Savories.map(event => (
            <FoodCard
              title={event.title}
              tag={event.tag}
              image={event.image}
            />
          ))}
        </div>
      </section>


      <!-- Main Course-->
      <section>
        <h1 class="section-heading text-white text-3xl md:text-5xl font-black uppercase tracking-[0.2em] mb-4">
         Main Course
        </h1>

        <div class="w-24 h-[3px] bg-pink-500 mb-12"></div>

        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-10">
            {Main_Course.map(comp => (
            <FoodCard
              title={comp.title}
              tag={comp.tag}
              image={comp.image}
            />
            ))} 
        </div>
      </section>


    </div>
  </body>
</html>

